FIREBASE_PROJECT_ID=protect-48d71\nSUPABASE_URL=your_supabase_url\nSUPABASE_KEY=your_supabase_key\nCORS_ORIGIN=http://localhost:3000,https://ndhiwa-scco.web.app\nNODE_ENV=development\nENCRYPTION_KEY=your-sha256-encryption-key\n